
body {
    background-color: beige;
    font-size: 10px;
    max-width: 960px;
    margin: auto;
    padding: 2%;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.content { 
  padding: 0%;  
   
}

p  {font-size: 1.0rem}
li {font-size: .9rem} 



nav{
    
    height: 30px;
    background-color:bisque;
}


nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    
    justify-content:space-between;
    
  }

nav ul li{
    font-size: 0.9rem;
    margin-top:5px


}

nav a:hover, 
nav a:active {
    color: blue;
}

.title-centered {
  font-size: 1.3rem;
  font-style: oblique;
}

.footNote{
    list-style: none;
}

.footNote li {
    font-size: 0.7rem;
    font-family:Arial, Helvetica, sans-serif;
}
       

.logo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size:1.1rem;

}




.imgRef {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: .6rem;
    margin-top: 0px;
}

.content-list{
    list-style:none;
}

.content-subList{
    list-style: none;
    margin-left: 40px;
    margin-right: 80px;

} 
.content-bulletList{
    list-style:circle;

} 

.inLineQuote p{
    font-style:oblique;
    margin-left: 3%;
    margin-right: 6%;
    font: size 0.9rem;
}


    
.content-list li{
    margin-bottom: 8px 
}

.eventTitleFormat {
  margin-top:1%;
  display: flex;

} 
.eventTitleFormat p {
  font-size: 1.0rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom:  0rem;
}

.eventInfoFormat {
  margin-top:0%;
  display: flex;
  flex-direction:column;
}
.eventInfoFormat p {
  font-size: 0.8rem;
  font-style:oblique;
  margin-top: 0rem;
  margin-bottom:  0rem;
}

.eventDateFormat{
  margin-top:1%;
  width:98%;
  display: flex;
  list-style:none;
  flex-flow:wrap;
  flex-direction:row;
  justify-content:space-around;
}
.eventDateFormat li{
  font-size: 0.7rem;
  font-style:oblique;
  margin-top: 0rem;
  margin-bottom:  0rem;

}

.footNoteRef {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}
    
  
@media screen and (min-width: 300px) and (max-width: 860px){
       
  .banner {
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items: center;

  } 

  .banner-img{
    width:70%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
  }     



  .banner-img img {
    max-width: 100%
  }

     

  .banner-text {
    width:95%;
    display:none;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%
  }
  
  .banner-text-a {
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%
  } 



  .banner-text p {
    
    margin-top:0px;
    margin-bottom:1%;
   
    font-weight: bold;

  }
  .banner-text-a p {
    font-size: 1.0rem;
    margin-top:0px;
    margin-bottom:1%;
   
    font-weight: bold;

  }


}
  
@media screen and (min-width: 861px) {
    
  .banner {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;

  } 
    
  .banner-img{
    width:50%;
    margin-top: 5px;
    margin-bottom: 0px;
  }     



  .banner-img img {
    max-width: 100%
  }


  .banner-text {
    width: 50%;
    display:flex;
    flex-direction: column;
    padding: 1%;
    align-items:center;
    margin-top: 50px;
  } 

  .banner-text-a {
    width: 50%;
    display:none;
    flex-direction: column;
    padding: 1%;
    align-items:center;
    margin-top: 30px;
  } 



  .banner-text p {
    font-weight: bold;
    margin-top: 0%;
    margin-bottom:2%;

  }


}

